<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("wolf_emblem.png", alt: "Rails"), 'http://rubyonrails.org/' %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    'http://nix-72.herokuapp.com/static_pages/home' %></li>
          <li><%= link_to "Help",    'http://nix-72.herokuapp.com/static_pages/help' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>